<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Department
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col size="6">
      <ion-button color="success" expand="block" fill="outline" size="small" routerLink="/home">Pegawai</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="secondary" expand="block" fill="outline" size="small" routerLink="/department">Department
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content class="ion-padding">
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Tambah Department</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Simpan</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list lines="full">
          <ion-item>
            <ion-input [(ngModel)]="nama_departemen" label="Nama Department : "></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="lokasi" label="Lokasi : "></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button type="button" (click)="confirm()" expand="full" color="primary" shape="full">
              Simpan
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-list>
    <ion-list-header>
      <ion-label>DAFTAR DEPARTMENT</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let dpt of department">
      <ion-item>
        <ion-label>
          <h1>{{dpt.nama_departemen}}</h1>
          <p>{{dpt.lokasi}}</p>
          <ion-button color="warning" [routerLink]="['/update-departemen/', dpt.id]">Edit</ion-button>
          <ion-button color="danger" (click)="deleteDepartment(dpt.id)">Hapus</ion-button>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>