<ion-header>
  <ion-toolbar>
    <ion-title>Detail Pegawai</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-input [(ngModel)]="nama" label="Nama : " [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="posisi" label="Posisi : " [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="gaji" label="Gaji : " [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="tanggal_masuk" label="Tanggal Masuk : " type="date" [readonly]="true"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button type="button" (click)="kembali()" expand="full" color="success" shape="full">
        Kembali
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>