<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pegawai
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col size="6">
      <ion-button color="success" expand="block" fill="outline" size="small" routerLink="/home">Pegawai</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="secondary" expand="block" fill="outline" size="small" routerLink="/jadwal-piket">Jadwal
        Piket</ion-button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content class="ion-padding">
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Tambah pegawai</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Simpan</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list lines="full">
          <ion-item>
            <ion-input [(ngModel)]="nama" label="Nama : "></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="posisi" label="Posisi : "></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="gaji" label="Gaji : "></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="tanggal_masuk" label="Tanggal Masuk : " type="date"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button type="button" (click)="confirm()" expand="full" color="primary" shape="full">
              Simpan
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-list>
    <ion-list-header>
      <ion-label>Daftar pegawai</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let pgw of Pegawai">
      <ion-item>
        <ion-label>{{pgw.nama}} </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" [routerLink]="['/detail-pegawai/', pgw.id]">
          <ion-icon slot="start" name="eye"></ion-icon>
        </ion-item-option>
        <ion-item-option color="warning" [routerLink]="['/update-pegawai/', pgw.id]">
          <ion-icon slot="start" name="build"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deletePegawai(pgw.id)">
          <ion-icon slot="start" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>